[Desktop Entry]
Type=Application
Version=1.5
Name=ZaminPanel
GenericName=Minecraft server manager
Comment=Run, manage, and supervise Minecraft servers
Exec=zamin-panel
Icon=mc.zamin.panel
Terminal=false
Categories=Game;Utility;
Keywords=minecraft;server;panel;zamin;
StartupWMClass=ZaminPanel
StartupNotify=true
X-GNOME-UsesNotifications=true
