[Desktop Entry]
Type=Application
Version=1.5
Name=ZIM
GenericName=Minecraft server manager
Comment=Run, manage, and supervise Minecraft servers
Exec=zim
Icon=mc.zamin.zim
Terminal=false
Categories=Game;Utility;
Keywords=minecraft;server;panel;zamin;
StartupWMClass=ZIM
StartupNotify=true
X-GNOME-UsesNotifications=true
